body {
    background-color: rgb(59, 65, 92);
}

main {
    position: relative;
    bottom: 400px;
}

footer {
    position: relative;
}

.blockleft {
    position: relative;
    right: 500px;
    box-sizing: border-box;
    background-color: rgb(223, 175, 175);
    height: 65px;
    font-size: 40px;
}

.blocmid {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(223, 175, 175);
    height: 65px;
    font-size: 40px;
}

.blocright {
    position: relative;
    left: 500px;
    box-sizing: border-box;
    background-color: rgb(223, 175, 175);
    height: 65px;
    font-size: 40px;
}

.Rynok {
    position: relative;
    box-sizing: border-box;
    top: 75px;
    left: 1800px;
    background-color: rgb(223, 175, 175);
    height: 65px;
    font-size: 40px;
}

.Market {
    position: relative;
    top: 180px;
    left: 1800px;
    box-sizing: border-box;
    background-color: rgb(223, 175, 175);
    height: 65px;
    font-size: 40px;
}

aside {
    word-wrap: break-word;
    width: 1px;
 }

 .picka {
    width: 388px;
    position: relative;
    left: 400px;
    top: 75px;
 }