body {
    background-color: rgb(255, 255, 255);
}

footer {
    position: relative;
    top: 863px;
}

.blockleft{
    position: relative;
    right: 500px;
    box-sizing: border-box;
    background-color: rgb(223, 175, 175);
    height: 65px;
    font-size: 40px;
}

.blocmid{
    position: relative;
    box-sizing: border-box;
    background-color: rgb(223, 175, 175);
    height: 65px;
    font-size: 40px;
}

.blocright{
    position: relative;
    left: 500px;
    box-sizing: border-box;
    background-color: rgb(223, 175, 175);
    height: 65px;
    font-size: 40px;
}