@use './scss/variables.scss' as *;



.app {
    position: relative;
    display: flex;
    text-align: center;
    background-color: $main-theme;

    padding: 30px;
    margin: 10px;
    border: solid $button-border-color 3px;
    border-radius: 10px;
}

.absolute {
    position: absolute;
    top: 0;
    right: 1rem;
}