@use '../../scss/variables.scss' as *;

#market {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.user-resources {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.market-button {
    border-left: 3px gray solid;
    border-right: 3px gray solid;
    background-color: rgb(126, 229, 254);
    padding: 5px;
    min-width: 200px;
    text-align: center;

    &:hover {
        background-color: rgb(185, 185, 185);
    }
}

.resourses-text {
    display: inline;
    border: 3px solid rgb(76, 84, 227);
    border-radius: 5px; 
    background-color: rgb(135, 103, 58);
}
