.user-panel-nick {
    display: inline;
}

.user-resources {
    width: 45px; /* Задайте ширину изображения */
    height: 45px; /* Задайте высоту изображения */
    margin: 0 7px; /* Отступы вокруг изображения */
    border: 5px #9fbef4;
}

.user-resources-coins {
    display: inline;
}

.user-resources {
    display: inline;
}

.header-user-panel {
    background-color: #333; /* Цвет фона панели */
    color: white; /* Цвет текста */
    padding: 10px; /* Отступы вокруг кнопок */
    display: flex; /* Используем flexbox для выравнивания кнопок */
    justify-content: space-between; /* Распределяем кнопки по краям */
    position: absolute; /* Позволяет панели находиться над картой */
    align-items: center; /* Выравниваем кнопки по центру по вертикали */
    top: 0; /* Привязываем к верхней части контейнера */
    left: 0; /* Привязываем к левому краю контейнера */
    right: 0; /* Привязываем к правому краю контейнера */
}

.user-panel-left-items {
    display: flex;
}

.user-panel-centre-items {
    display: flex;
}

.user-panel-right-items {
    display: flex;
}

.header-user-panel button {
    padding: 7px 10px;
}