@import '../../scss/variables.scss';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //height: 70vh;
    font-family: $text-style;
    //color: #333;

    h1 {
        margin-bottom: 24px;
        font-size: 2rem;
        color: #4A90E2;
    }

    .login-wrapper {
        border-radius: 8px;
        box-shadow: 0 2px 40px rgba(0, 0, 0, 0.678);
        background: #00000034;
        padding: 40px;
        width: 300px;
        text-align: center;
        
        .register-link {
            color: #9fbef4; // Цвет ссылки
            cursor: pointer; // Указатель при наведении, чтобы показать, что это кликабельно
            text-decoration: underline; // Чтобы текст выглядел как ссылка
            margin-top: 50px; // Учет отступа от кнопки
            font-size: 15px;
            &:hover {
                color: #6a99ce; // Более темный цвет при наведении
            }
        }

        .loginClick {
            margin-top: 30px;
            cursor: pointer;
            -webkit-user-drag: none;
        }

        .login-inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                color: #d4d0d0;
                text-shadow: -1px -1px 0 #356eb4, 1px -1px 0 #356eb4, -1px 1px 0 #356eb4, 1px 1px 0 #356eb4;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;
                transition: border 0.3s;

                &::placeholder {
                    color: lightgray;
                    text-shadow: 0px 0px 0 #356eb4, 0px 0px 0 #356eb4, 0px 0px 0 #356eb4, 0px 0px 0 #356eb4;
                    opacity: 1; 
                }

                &:focus {
                    color: #9fbef4;
                    border-color: #4ab7e2;
                    outline: none;
                }
            }
        }
    }
    
}
