@import '../../scss/variables';

.button {
    font-family: 'Franklin Gothic Medium';
    font-size: 2vh;
    background-color: $button-background-color;
    border-radius: 3px;
    border: solid $button-border-color 1px;
    min-width: 120px;
    text-align: center;
    color: #9fbef4;
    text-shadow: -1px -1px 0 #698fbf, 1px -1px 0 #698fbf, -1px 1px 0 #698fbf, 1px 1px 0 #698fbf;
    padding: 3px 5px 8px 5px;
    cursor: pointer;

    &:hover {
        background-color: $button-hover-color;
    }
}

