.exchanger-container {
    display: flex;
    flex-direction: column;
    align-items: center; // Центрирование содержимого
    padding: 20px;
    border: 2px solid #4CAF50; // Зеленая рамка
    border-radius: 10px; // Закругленные углы
    background-color: #f9f9f9; // Светлый фон
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Тень для глубины
  
    .exchanger-image {
      max-width: 20%; // Адаптивность изображения
      height: auto; // Сохранять пропорции
      margin-bottom: 20px; // Отступ между изображением и кнопкой
    }
  
    .exchange-button {
      width: 100%; // Полная ширина кнопки
      padding: 10px; // Отступы внутри кнопки
      font-size: 16px; // Размер шрифта
      font-weight: bold; // Жирный шрифт
      border: none; // Без рамки
      border-radius: 5px; // Закругленные углы кнопки
      cursor: pointer; // Указатель при наведении
      transition: background-color 0.3s; // Плавный переход цвета фона
  
      &:hover {
        background-color: #45a049; // Темнее при наведении
      }
  
      &.disabled {
        background-color: #d3d3d3; // Цвет кнопки, когда отключена
        cursor: not-allowed; // Указатель для отключенной кнопки
      }
    }
  }