@import '../../scss/variables.scss';

.regist {

    font-family: $text-style;

    h1 {
        margin-bottom: 24px;
        font-size: 2rem;
        color: #4A90E2;
    }

    .regist-wrapper {
        //background: white;
        //border-radius: 8px;
        //box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        //padding: 40px;
        //width: 350px;
        //text-align: center;
        
        border-radius: 8px;
        box-shadow: 0 2px 40px rgba(0, 0, 0, 0.678);
        background: #00000034;
        padding: 40px;
        width: 350px;
        text-align: center;

        .login-link {
            color: #9fbef4; // Цвет ссылки
            cursor: pointer; // Указатель при наведении, чтобы показать, что это кликабельно
            text-decoration: underline; // Чтобы текст выглядел как ссылка
            margin-top: 10px; // Учет отступа от кнопки
            font-size: 15px;
            margin-top: 30px;
            &:hover {
                color: #6a99ce; // Более темный цвет при наведении
            }
        }

        .registrClick {
            margin-top: 15px;
            cursor: pointer;
            -webkit-user-drag: none;
        }

        .regist-inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                color: #d4d0d0;
                text-shadow: -1px -1px 0 #356eb4, 1px -1px 0 #356eb4, -1px 1px 0 #356eb4, 1px 1px 0 #356eb4;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;
                transition: border 0.3s;

                &::placeholder {
                    color: lightgray;
                    text-shadow: 0px 0px 0 #356eb4, 0px 0px 0 #356eb4, 0px 0px 0 #356eb4, 0px 0px 0 #356eb4;
                    opacity: 1;
                }

                &:focus {
                    color: #9fbef4;
                    border-color: #4ab7e2;
                    outline: none;
                }
            }
        }

        .regist-buttons {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            Button {
                width: 100%;
            }
        }
        .register-link {
            color: #007bff; // Цвет ссылки
            cursor: pointer; // Указатель при наведении, чтобы показать, что это кликабельно
            text-decoration: underline; // Чтобы текст выглядел как ссылка
            margin-top: 10px; // Учет отступа от кнопки
            font-size: 12px;
            &:hover {
                color: #0056b3; // Более темный цвет при наведении
            }
        }
        
    }
}