
#canvas {
    border: 5px solid black;
}

.game-wrapper {
    display: flex;
    flex-direction: row;
}

.move-button {
    min-width: 50px;
    min-height: 50px;
}

.user-panel-nick {
    display: inline;
}

.user-resources-coins {
    display: inline;
}

.user-resources {
    display: inline;
}