.chat {
    max-width: 35vw;
    max-height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #0540a5;
    backdrop-filter: blur(20px);

    &-inputs {
        display: flex;
        flex-direction: column;

        input {
            margin: 10px;
            padding: 0 10px 5px 10px;
            background-color: aquamarine;
            width: 300px;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        //max-width: 500px;
    }
}

.chat-buttons {
    justify-content: flex-end;
}

.chat-messages {
    max-height: 35vw;
    border: 5px solid #9fbef4;
    text-align: left;
    padding: 5px;
    overflow-y: auto;
}

.message-text {
    color: #ffffff;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.chat-input {
    text-align: center;

    input {
        color: #ffffff;
        text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;

        &::placeholder {
            color: #9fbef4;
            text-shadow: -1px -1px 0 #356eb4, 1px -1px 0 #356eb4, -1px 1px 0 #356eb4, 1px 1px 0 #356eb4;
        }
    }
}

