.chat {
    flex-direction: column;
    border: 5px solid #3f91d4;

    h1 {
        color: #9fbef4;
        text-shadow: -1px -1px 0 #698fbf, 1px -1px 0 #698fbf, -1px 1px 0 #698fbf, 1px 1px 0 #698fbf;;
    }

    &-inputs {
        display: flex;
        flex-direction: column;

        input {
            margin: 10px;
            padding: 0 10px 5px 10px;
            background-color: aquamarine;
            width: 300px;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
    }
}

.chat-messages {
    border: 5px solid black;
    text-align: left;
    padding: 5px;
}
