
.user-resources {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.main-menu {
}

#user-panel {
    color: #9fbef4;
    text-shadow: -1px -1px 0 #698fbf, 1px -1px 0 #698fbf, -1px 1px 0 #698fbf, 1px 1px 0 #698fbf;
}