@use '../../scss/variables.scss' as *;

.Battle {
    position: relative;
    display: flex;
    text-align: center;
    background-color: $main-theme;

    padding: 30px;
    margin: 10px;
    border: solid $button-border-color 3px;
    border-radius: 10px;
}

.pvpArea {
    border: 1px solid black;
}

.button {
    align-items: center;
}

.buttonMenu {
    display: flex;
}

.hpBar {
    border-radius: 5px;
}

.secondPlayerButtonn {
    margin-left: 700px;
}

.hideButton {
    display: none;
}

.showButton {
    display: block;
}

.buttons {
    border-radius: 5px;
    margin-left: 30%;
}