$main-theme:  rgba(16, 33, 48, 0.4);
$text-color: #000000;
$text-style: 'Comic Sans MS', cursive, sans-serif;

$button-border-color: #3f91d4;
$button-hover-color: #c2d4f8;
$button-background-color: #ffffff;
